.ps1 {
    border: 1px solid #ccc;
    background-color:#fff;
    border-radius: 4px;
    cursor: pointer;
}
.ps1:after {
    content: '$';
}
.ps1-root:after {
    content: '#';
}

.ps0 {
    border: 1px solid transparent;
}

.ps1:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.cmd-cont:before {
    border: 1px solid transparent;
    color: rgba(0, 0, 0, .3);
    content: '>';
}
.cmd-out:before {
    border: 1px solid transparent;
    content: '';
}
.cmd-out>span:after {
    content: attr(data-content) '';
}
.space:before {
    content: ' ';
}
