pre {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

div pre {
    display: block;
    overflow-x: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: pre;
    hyphens: none;
    
    -webkit-overflow-scrolling: auto;
}

pre div {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

#time:before {
    content: "Fri Sep 21 17:22:08 JST 2018";
}
