pre {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

div pre {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

pre div {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

#time:before {
    content: "Fri Sep 21 17:14:00 JST 2018";
}
